<launch>
  <!-- Specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- Franka demo controller to use -->
  <arg name="controller" default=" " />

  <!-- By default we will load the gripper -->
  <arg name="load_gripper" default="true" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true" />
  <arg name="paused" default="false" />

  <!-- Launch the gazebo simulator and spawn the robot -->
  <include file="$(find franka_gazebo)/launch/panda.launch">
    <arg name="headless" value="$(eval not arg('gazebo_gui'))" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_gripper" value="$(arg load_gripper)" />
    <arg name="controller" value="$(arg controller)" />
  </include>

  <group ns="panda">
    <!-- point the MoveItControllerManager to the right namespace-->
    <!-- <param name="move_group/ros_control_namespace" type="string" value="/panda" /> -->

    <!--NOTE: Left this here to show the controller list is ignored-->
    <!-- <group ns="move_group">
      <rosparam subst_value="true" file="$(find panda_moveit_config)/config/gazebo_moveit_controllers.yaml" />
    </group> -->

    <include file="$(dirname)/demo.launch" pass_all_args="true">
      <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
      <arg name="load_robot_description" value="false" />
      <!-- Gazebo uses ros_control package to actuate joints -->
      <arg name="moveit_controller_manager" value="ros_control" />
    </include>
    <include file="$(dirname)/ros_controllers.launch">
      <arg name="mode" value="gazebo" />
    </include>
  </group>
</launch>
